<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.png" %>
	</div>

	<div id="content">
		<h1>A.O.A, I am Muhammad Awais </h1>
		<p> Welcome to my Bugzilla About PAge </p>
		<p> Here in this project we can enter bugs create new projects </p>
		<p> You can also contact me at my gmail account <a href = "http://gmail.com/muhammad.awais"> My Gmail Account </a></p>
	</div>
</div>