<%if !@project.blank?%>
<% @project.each do |p| %>
	<div class="post_wrapper">
		<h2 class="id">Project Name: <%=link_to p.name,user_project_path(current_user,p)%> </h2>
		<p class="date">Created on: <%=p.created_at.strftime("%B, %d, %Y")%> </p>
		<br/>
		<br/>
	</div>
<%end%>
<%end%>
