// Place all the styles related to the Bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pink{
	background-color:#f25e6f;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.img-responsive {
    width: 300px;
    height: 300px;
    border-radius:25px;
}

.header
	{
	
	}